body.opciones{
	background: -webkit-linear-gradient(#D4E1F1, #97BBDB); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#D4E1F1, #97BBDB); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D4E1F1, #97BBDB); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D4E1F1, #97BBDB); /* Standard syntax */ }

#icons {
		margin: 0;
		padding: 0; }
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none; }
	#icons span.ui-icon {
		float: left;
		margin: 0 4px; }
	.fakewindowcontain .ui-widget-overlay {
		position: absolute; }
	select {
		width: 200px; }

.button.big {
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid #3E539A;
    box-shadow: 1px 1px 5px gray;
    padding: 0.85em 0.70em; }

	@media (max-width: 480px) {
	    .button.big {
	        margin-bottom: 10px;
	        width: 90%; } }
	
	@media (max-width: 768px) {
	    .button.big {
	        margin-bottom: 10px;
	        width: 90%;
	        margin-left: 10px; } }

@media (max-width: 590px) {
	.coment {
		width: 90%;
		height: 8rem; }}

.section.home {
	border: 1px solid gray;
	padding: 15% 0 15% 32%;
	margin: 20px 10px; }

	@media (max-width: 1024px) {
	    .section.home {
	        padding: 15% 0 15% 23%; } }

.section.opciones {
	padding: 15% 0 5% 32%;
	width: 100%; }

	@media (max-width: 590px) {
	    .section.home, .section.opciones {
	        padding: 15% 5%; } }
	
	@media (max-width: 768px) { /* ipad vertical */
	    .section.home, .section.opciones {
	        padding: 15% 10%; } }

	/* @media (max-width: 1024px) {
	    .section.opciones {
		padding: 15% 0 5% 10%; } } */

.section.opcionesq {
	padding: 5% 25%;
	width: 100%; }

	@media (max-width: 480px) {
	    .section.opcionesq {
		padding: 5% 0 5% 0; } }

.section.opcionesp {
	padding: 5% 10% 0 30%;
	width: 100%; }

	@media (max-width: 480px) {
	    .section.opcionesp {
		padding: 5% 0 5% 15%; } }

.section.opcioness {
	padding: 5% 0 5% 15%;
	width: 100%; }

p.title{
	font-size: 5em; 
	padding: 0 0 0 20%; }

	@media (max-width: 480px) {
	    p.title {
	        font-size: 2em; } }
	
	@media (max-width: 768px) {
	    p.title {
	        font-size: 4rem; } }

p.subtitle {
	font-size: 3em; 
	padding: 10% 0;
	text-align: center;
	line-height: 1.3em;}

	@media (max-width: 480px) {
	    p.subtitle {
	        font-size: 2rem; } }

.section.tool {
	padding: 30% 0 0 6%; }
	
	@media (max-width: 1024px) {
	    .section.tool {
	        padding: 10% 0 0 18%; } }

	@media (max-width: 480px) {
	    .section.tool {
	        padding: 10% 0 0 15%; } }

.section.tool2{
	padding: 10% 0 0 12%; }

	@media (max-width: 1024px) {
	    .section.tool2 {
	        padding: 10% 0 0 0%; } }
	
	@media (max-width: 480px) {
	    .section.tool2 {
	        padding: 10% 0 0 5%; } }
	
	@media (max-width: 768px) {
	    .section.tool2 {
	        padding: 10% 0 0 4%; } }
	
	@media (max-width: 590px) {
	    .section.tool2 {
	        padding: 10% 0 0 14%; } }

.section.tool3{
	padding: 10% 0 0 25%; }

	@media (max-width: 1024px) {
		    .section.tool3 {
		        padding: 10% 0 0 20%; } }
	
	@media (max-width: 768px) {
		    .section.tool3 {
		        padding: 7% 0 0 10%; } }

.section.tool4{
	padding: 10% 0 0 25%; }

	@media (max-width: 1024px) {
		    .section.tool4 {
		        padding: 10% 0 0 20%; } }
	
	@media (max-width: 768px) {
		    .section.tool4 {
		        padding: 7% 0 0 10%; } }
	
	@media (max-width: 480px) {
		    .section.tool4 {
		        padding: 7% 0 0 25%; } }
		        
.section.all {
	background-color: aqua; }

#piechart{
	border: 1px solid white; }

.radio-group {
  display: table;
  width: 100%;
  margin: 0 0 1rem 20%; }

	@media (max-width: 480px) {
	    .radio-group {
		    margin: 0 0 5% 0; } }
	
	@media (max-width: 768px) {
	    .radio-group {
		    margin: 0 0 3% 10%; } }

@media (max-width: 480px) {
    .button.large {
	    width: 90%;
	    margin: 0 0 5% 0; } }

@media (max-width: 768px) {
    .button.large {
	    width: 80%;
	    margin: 0 0 5% 0; } }
	    
@media (max-width: 1028px) {
    .button.large {
	    width: 80%;
	    margin: 0 0 5% 0; } }
   
@media (max-width: 480px) {
    h2 {
	    margin: 0 10% 0;
	    font-size: 1em;} }
   
@media (max-width: 590px) {
	.button.alert {
	    margin-right: 200px; } }

@media (max-width: 480px) {
	.button.alert {
	    margin-right: 0px; } }

.button.success {
    margin: 0 0 0 27%;
    padding: 12px 30px; }

	@media (max-width: 480px) {
		.button.success {
		    margin: 0 0 0 5%; } }

	@media (max-width: 1024px) {
		.button.success {
			margin: 0 0 0 25%; } }
		    
.button.result {
    margin: 0 0 0 41%;
    padding: 12px 30px; }

	@media (max-width: 480px) {
		.button.result {
		    margin: 0 0 0 0; } }

	@media (max-width: 768px) {
		.button.result {
		    margin: 0 0 0 20%; } }

	@media (max-width: 1024px) {
		.button.result {
			margin: 0 0 0 16%; } }

  .button.result {
    background: #3E539A;
    color: #fff;
    border-radius: 4px;
    border: 2px solid white; }
    .button.result:hover, .button.result:focus {
      background: #22bb5b;
      color: #fff; }
      
